nav {
    display: grid;
    grid-template: auto / minmax(200px, 40%) auto;
    padding: 1em;
    background-color: var(--nav-bar-color);
    color: white;
}

nav h1 {
    padding-left: 2em;
}

nav a {
    border: .2em solid white;
    border-radius: .5em;
    padding: .2em 2em;
    margin: 1em auto;
    color: white;
    transition: all 150ms ease-in-out;
}

nav a:hover {
    border-color: black;
    color: black;
    background-color: white;
}

nav ul {
    display: grid;
    grid-template: auto / repeat(3, auto);
}

nav li {
    display: block;
    transition-duration: 0.5s;
}

nav li:hover {
    cursor: pointer;
}

nav ul li {
    position: relative;
}

nav ul li ul {
    background-color: var(--nav-bar-color);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: .5rem;
    padding-top: .5rem;
    left: -1em;
    display: none;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

nav ul li:hover > ul,
nav ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

nav ul li ul li {
    padding: 1em;
    clear: both;
    width: 100%;
}

@media screen and (max-width: 940px) {
    /*Tablet*/
    nav {
        grid-template: auto auto / repeat(5, auto);
    }
    
    nav h1 {
        grid-area: 1 / 1 / 1 / -1;
        padding: auto;
        margin: auto;
    }
}

@media screen and (max-width: 700px) {
    /*Mobile*/
}